@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@import './shared/_pagination.css';

@import './home/_hero.css';

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
    color: #0000009c;
  }
}

@theme {
  --color-primary: {{ .Site.Params.colors.primary }};
  --color-secondary: {{ .Site.Params.colors.secondary }};
  --color-tertiary: {{ .Site.Params.colors.tertiary }};
}

body {
  @apply antialiased;
}
